.main-gallary {
	position: relative;
	width: 100%;
	padding: 0;
}

.content-images {
	margin: 0;
}

.logo-head {
	padding: 17px 20px;
	border-bottom: 1px solid #f3f4f4;
}

.logo {
	margin-left: 20px;
	margin-top: 5px;
	width: 120px;
}

.hamburger {
	float: left;
	margin-top: 6px;
	cursor: pointer;
}

.sign {
	margin-top: 7px;
	float: right;
	font-size: 10px;
}


.image-gallary {
	padding: 0;
}

.images {
	padding: 0;
	margin: 0;
	list-style-type: none
}

.images li {
	padding: 0;
}

.image-block {
	width: 100%;
}

.side-menu-list  .checkbox {
	width: 21px;
	height: 21px;
	background-color: #535658;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	border-radius: 10px
}

.side-menu-list  .checkbox label {
	width: 17px;
	height: 17px;
	padding: 0;
	top: 2px;
	left: 2px;
	min-height: 0;
	background-color: #000;
	border-radius: 10px
}

.side-menu-list  .checkbox label:before {
    width: 7px;
    height: 5px;
    border: 2px solid #fff;
    border-top: none;
    border-right: none;   
    top: 5px;
    left: 5px;
}

.side-menu {
	position: absolute;
	top: 0px;
	left: -250px;
	background-color: #000;
	z-index: 2;	
	width: 253px;
	height: 600px;
    color: #535658;
}

.side-menu-list {
	padding: 18px 15px;
	border-bottom: 1px solid #fff;
	font-size: 14px;
}

.search-box {
	height: 55px;
    padding: 0;
    border-bottom: 1px solid #fff;
}

.search-btn {
	text-align: center;
	padding: 15px 0;

}

.search-input {
	height: 99%;
	border: none;
	padding: 5px 20px;
	outline: none;
	background-color: #000;
}

.mylook {
	font-size: 14px;
}

.category {
	padding: 0;
}

.category span {
	display: inline-block;
	vertical-align: middle;
}

.menu-wrap {
	margin: 0;
}

.palette {
	padding: 5px 15px 23px;
	
	font-size: 11px;
}

.checkbox-wrap {
	padding: 0;
	text-align: center;
	width: 54px;
	height: 54px;
}

.clothes {
	border-bottom: none;
}

.red-color label {
	background-color: #e8402f;
}

.orange-color label {
	background-color: #eb6432;
}

.yellow-color label {
	background-color: #fbf348;
}

.brown-color label {
	background-color: #88633b;
}

.pink-color label {
	background-color: #ee97c0;
}

.green-color label {
	background-color: #93a959;
}

.blue-color label {
	background-color: #202bb1;
}

.purple-color label {
	background-color: #552381;
}

.gray-color label {
	background-color: #949596;
}

.black-color label {
	background-color: #010101;
}

.go-btn {
	text-align: center;
	color: #fff;
	margin-top: 5px;
	padding-bottom: 25px;
	border-bottom: 1px solid #fff;
}

.go-btn button {
	border: 3px solid #fff;
	background-color: #000;
	border-radius: 100px;
	width: 39px;
	height: 39px;
	outline: none;
}

.empty-div {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.reg-btn {
	text-align: center
}

.reg-btn.log {
    border-right: 1px solid#fff;
}

.register {
	padding: 17px 0;
	font-size: 15px;
}

@media (max-width: 700px){
	.copy {
		width: 350px;
	}
}

@media (max-width: 550px){
	.copy {
		width: 230px;
	}
}
